{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        {% if data is not empty %}
            <table>
                <caption>Vos commandes</caption>
                <thead>
                <tr>
                    <th>Prix de la commande</th><th>Etat</th><th>Gérer la commande</th><th>Détail</th>
                </tr>
                </thead>
                <tbody>
                {%  for commandes in data if data is not empty %}
                    <tr>
                        <td>{{ commandes.prix }} €</td>
                        <td>{{ commandes.etat }}</td>
                        <td>
                            {% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITadmin' %}
                                <a href="#"><span class="fi-x"> Valider</span></a>
                                <a href="#"><span class="fi-x"> Supprimer</span></a>
                            {% elseif app.session.get('droit') is defined and app.session.get('droit') == 'DROITclient' %}
                                    <a href="#"><span class="fi-x"> Annuler la commande</span> </a>
                            {% endif %}
                        </td>
                        <td>Implemented soon !</td>
                    </tr>
                {% endfor %}


                </tbody>

            </table>
        {% else %}
            <p>Liste des commandes vide.</p>
            <a href="{{ url('album.show') }}">Voir les produits</a>
        {%  endif %}
    </div>
{%  endblock %}